*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input {
  outline: none;
}
.searchNav {
  position: relative;
  width: 100%;
  padding: 24px;
  zoom: 1;
}
.searchNav:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.searchNav input {
  width: 100%;
  line-height: 32px;
  background: #efefef;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.searchNav input:focus {
  border-color: #5197fc;
  box-shadow: 0 0 0.5 0.5px #5197fc;
}
