@import "./base";
@base-blue: #5197fc;
.searchNav {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 44px;
    padding: 5px 24px;
    background: #fff;
    .clearfix();
    input {
        width: 100%;
        font-size: 14px;
        line-height: 32px;
        background: #efefef;
        border: .5px solid #ddd;
        border-radius: 3px;
        text-align: center;
        .transition(0.2s);
        &:focus {
            background-color: #f9f9f9;
            border: .5px solid @base-blue ;
            box-shadow: 0 0 .5 .5px @base-blue;
        }
        &::-webkit-input-placeholder {
            color: #999;
        }
        &::-moz-placeholder {
            color: #999;
        }
        &:-moz-placeholder {
            color: #999;
        }
        &:-ms-input-placeholder {
            color: #999;
        }
    }
}
.wrap{
    background: #eee;
    padding-top: 44px;
}
.tagNav {
    position: relative;
    padding: 10px 24px;
    color: #666;
    background: #fff;
    .clearfix();
    .tag {
        position: relative;
        float: left;
        line-height: 32px;
        text-align: center;
        width: 25%;
        cursor: pointer;
        &.active{
        	border-bottom: 2px solid @base-blue;
        }
    }
}
.banner{
	position: relative;
	overflow: hidden;
    width: 100%;
    ul{	
        position: relative;
        float: left;
        .clearfix();
        li{
            float: left;
            display: block;
            min-height: 200px;
            img{
                width: 100%;
            }
        }
    }
}
.card{
    padding-left: 24px;
    padding-right: 24px;
    background: #fff;
    margin-top: 15px;
    .title{
        padding: 10px 0;
        line-height: 32px;
        font-size: 20px;
        color: #666;
        font-weight: bold;
    }
    .content{
        h1{
            font-size: 16px;
        }
    }
    .list-content {
        margin-left: -15px;
        margin-right: -15px;
        .clearfix();
        ul {
            li {
                float: left;
                width: 33.3%;
                margin-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
                .cover {
                    width: 100%;
                    height: 120px;
                    margin-bottom: 5px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .name{
                    position: relative;
                    width: 100%;
                    line-height: 1.2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                }
            }
        }
    }
}